.playwrite-gb-s{
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.header-container{
    display: flex;
    justify-content: space-between;

}

.nav-img-container{
    display: inline;
}
.bg-body-tertiary{
    background-color: rgb(255, 255, 255)
}

.navbar-brand{
    font-family: "Playwrite GB S", cursive;
    font-size: 2.5rem;
}

ul li{
    list-style: none;
    margin: 10px;
}
ul li:hover{
    text-decoration: underline;
}

.busquedas-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.mb-3 label{
    font-family: "work sans", cursive;
    font-size: 1.2rem;
}

.nav_icons ul{
    display: flex;
    flex-direction: row nowrap;
}
.nav_icons ul li{
    margin-right: 5px;
}
.person, .bag-fill {
    padding: 2px; 
}

/* --- Comienza el main --- */
.newsection1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/newsletter/tazas.jpeg) no-repeat fixed;
    background-size: cover;
    min-height: 80vh;
    margin: 0;
    padding: 0;
    opacity: 1;
}

.h1-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.h2-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -85px;
}

.btn1 {
    text-align: center;
    padding: 10px 20px;
    margin: 20px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    background-color: rgb(226, 198, 198);;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    text-transform: uppercase;
}

.btn1:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(226, 198, 198);
}

.newsection2{
    background-color: rgb(226, 198, 198);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

} 

.event-info, .event-info-2, .event-info-3{
    font-weight: normal;
    margin: 10px;
}
.btn.custom-btn {
    background-color: #687144; /* Verde */
    color: white; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight:bold;
    cursor: pointer;
}
.btn.custom-btn:hover{
    background-color: white;
    color: #687144;
}
.card-1, .card-2, .card-3 {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin: 10px auto; 
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.card-title{
    margin-top: 10px;
}
.card-text{
    font-weight: normal;
}
.card-deck{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5px;
}
/* --- Finaliza el main --- */

/* --- Comienza footer --- */
.footer-container{
    background-color: #faf5f1;
    margin-top: 3rem;
}
.navbar-footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navbar2-container{
    padding-left: 1rem;
}
#sobrenosotras{
    font-size: 2rem;
    color: rgb(38, 38, 38);
}
.container-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#copyright{
    font-size: 0.8rem;
}
ul li{
    list-style: none;
}
.navbar2-container ul{
    padding: 0;
}
.redes-sociales-container{
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-start;
    margin: 20px;
}
.redes-sociales{
    color: rgb(156, 156, 156);
    width: 30px;
    height: 30px;
}
/* --- Finaliza footer --- */

@media (min-width: 1024px) {
    .card-1, .card-2, .card-3 {
        width: 80%;
        max-width: 300px; 
    }

    .card-img-top {
        width: 100%;
        height: auto; 
    }

    .card-body {
        padding: 10px; 
    }

    .card-title {
        font-size: 1.2rem; 
    }

    .card-text {
        font-size: 0.9rem; 
    }
}