.playwrite-gb-s{
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* --- Comienza el header --- */
.header-container{
    display: flex;
    justify-content: space-between;
}
.nav-img-container{
    display: inline;
}
.bg-body-tertiary{
    background-color: rgb(255, 255, 255)
}
.navbar-brand{
    font-family: "Playwrite GB S", cursive;
    font-size: 2.5rem;
}
ul li{
    list-style: none;
    margin: 10px;
}
ul li:hover{
    text-decoration: underline;
}
.busquedas-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}
.mb-3 label{
    font-family: "work sans", cursive;
    font-size: 1.2rem;
}
.nav_icons ul{
    display: flex;
    flex-direction: row nowrap;
}
.nav_icons ul li{
    margin-right: 5px;
}
.person, .bag-fill {
    padding: 2px; 
}
/* --- Finaliza el header --- */


/* --- Comienza MAIN --- */
.main-container{
    margin-top: 1em;
}

/* --- Comienza el section1 BANNER --- */
.section1{
    background: url(../img/banner.jpg) no-repeat center fixed;
    background-size: cover;
    min-height: 60vh;
    opacity: 1;

}   
.h1-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.h1-container h1{
    color: rgb(251, 251, 251); 
    text-shadow: 2px 2px 2px rgb(0, 0, 0); 
    font-size: 5em;
}
/* --- Finaliza el section1 BANNER--- */



/* ---------------- Comienza el section2 INFUSIONES-------------------- */
.section2{
    padding: 100px 30px 20px;
    background-color: #ffffff;
}
.section2 h2{
    text-align: center; 
    font-size: 2em; 
    font-weight: lighter;
}
.section2 div{
    margin: 0 0 60px;
}
.cards{ /*aplica para las cards de reseñas*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 70px;
    padding: 20px;

}
.infusion1:hover, .infusion2:hover, .infusion3:hover, .infusion4:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out 0s;
    
}
.infusion1, .infusion2, .infusion3, .infusion4{
    padding: 10px;
    text-align: center;
    font-size: small;
}
.text-infusion{
    padding: 5px;
    margin-top: 15px;
    font-size:medium;
}

.section2 button{
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    border-color: black;
    transition: 0.3;
}
.section2 button:hover{
    background-color: rosybrown;
    color: white;
    
}

.section2 a{
    text-decoration: none;
    color: black;
    
}
/* ----------------Termina el section2----------------- */


/* --- Comienza el section3 PRODUCTOS (pensado en Mobile First)--- */
.section3 h2{
    text-align: center;
    font-size: 2em; 
    font-weight: lighter;
}
.container-productos-ver-mas{
    padding: 40px;
}
.text-btn-sacos-te-container, .text-btn-set-te-container{
    box-sizing: border-box;
    border: 15px solid transparent; /*para que el contenido se ajuste en relación al borde, y el espacio se reduzca*/
    padding: 30px;
}
.primer-texto{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.segundo-texto{
    text-align:center;
    font-size: 1em;
    padding: 10px;
}
.btn-ver-mas-container{
    display: flex;
    justify-content: center;
}
.btn-sacos-te, .btn-set-te{
    width: 7em;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 1.4px;
}
.btn-sacos-te:hover, .btn-set-te:hover{
    background-color: #ffffff;
}

.btn-sacos-te a, .btn-set-te a{
    text-decoration: none;
    color: #a0866b;
    padding: 5px;
}

/* --- Comienza el section4 RESERVAS--- */

.reservas{
    background: url(/img/pink-wallpaper.jpg) no-repeat center fixed;
    background-size: cover;
}
.reservas-text-container{
    padding-top: 70px;
}
.text-reservas{
    text-align: center;
    margin-bottom: 20px;
}  
.text-reservas h2{
    font-size: 3em; 
    font-weight: lighter;
}     
.link-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
}
#link-reservas{
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    letter-spacing: 1.4px;
    color: #DA7297;
}
#link-reservas:hover{
    color: #8E3E63;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: rgb(97, 94, 94); border-radius: 6px;
}
/* --- Finaliza la section4 --- */



/* --- Comienza el section5 NEWSLETTER --- */
.container-newsletter{
    display: flex;
    flex-direction: row nowrap;
}

.form-control {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0.5em 1em;
    font-size: 1em;
    color: #aaa; 
    margin: 0;
}
.container-text-novedades{
    width: 30%;
    z-index: 3;
    padding: 90px;
}
.container-text-novedades p{
    font-size: 10.5em;
    line-height: 1em;
    font-weight: bold;
    margin-left: -70px;
    color: #508030;
}
.suscription{
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-suscription-text{
    padding: 3px;
}
.texto-suscripcion{
    font-size: 3em;
    text-align: center;
    font-weight: bold;
}

.btn-campo-suscription-container{
    display: flex;
    justify-content: center;
}
.campo-suscripcion, .boton-enviar{
    margin-left: 20px;
}
.btn-primary {
    width: 7em;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    color: #D76C82; /* Color del texto "ENVIAR" */
    font-weight: bold;
    letter-spacing: 1.4px;
}
.btn-primary:hover {
    background-color: #FFD0D0; 
    color: #ffffff;
}

/* --- Finaliza la section5 --- */


/* --- Comienza la secion6  RESEÑAS--- */
.section6 h2{
    text-align: center; 
    font-size: 2em; 
    font-weight: lighter;
}
.review{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 70px;
    padding: 20px;
}
#review1, #review2, #review3, #review4{
    padding: 30px;
}
blockquote{
    padding: 10px;
}
.user img, .user p{
    display: inline-block;
    margin-left: 10px;
}
blockquote p{
    padding: 10px;
}
/* --- Finaliza la secion6 --- */


/* --- Comienza footer --- */
.footer-container{
    background-color: #faf5f1;
    margin-top: 3rem;
}
.navbar-footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navbar2-container{
    padding-left: 1rem;
}
#sobrenosotras{
    font-size: 2rem;
    color: rgb(38, 38, 38);
}
.container-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#copyright{
    font-size: 0.8rem;
}
ul li{
    list-style: none;
}
.navbar2-container ul{
    padding: 0;
}
.redes-sociales-container{
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-start;
    margin: 20px;
}
.redes-sociales{
    color: rgb(156, 156, 156);
    width: 30px;
    height: 30px;
}
/* --- Finaliza footer --- */





/* --- Media Queries - Responsive design--- */

/*Section 2 INFUSIONES a mobile*/
@media screen and (max-width: 768px){
    .infusion1 img, .infusion2 img, .infusion3 img, .infusion4 img{
        width: 60%;
    }
}
@media screen and (min-width: 768px){
    .infusion1 img, .infusion2 img, .infusion3 img, .infusion4 img{
        width: 60%;
    }
}
    
/*Section 4 Reservas para medium/large screens*/
@media screen and (min-width: 768px){
    .text-reservas{
        padding-left: 100px;
        text-align: left;
        margin-bottom: 0;
    }
    #carousel-reserva {
        width: 40%; /* Ocupar el 40% restante */
        margin-left: 80px;
      }
}
 
    /*Section 5 NEWSLETTER para mobile*/
@media screen and (max-width: 768px) {
    .container-text-novedades{
        display: none;
    }
    .suscription{
        width: 90%;
        padding: 10%;
    }
    .texto-suscripcion{
        font-size: 2em;
        line-height: 1em;
        color: #D76C82;

    }
    .btn-campo-suscription-container{
        margin-top: 35px;
        display: flex;
        justify-content: space-evenly;
    }
    .campo-suscripcion, .bnt{
        font-size: 0.9em; /* Reduce el tamaño de fuente del botón */
        margin: 0;
    } 
    .btn-primary:hover {
        background-color: #FFD0D0; 
        color: #ffffff;
    }
    
}
