.playwrite-gb-s{
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* --- Comienza el header --- */
.header-container{
    display: flex;
    justify-content: space-between;
}

.h1-div h1{
    color: #d2a5b0;
    text-shadow: 2px 2px 2px rgb(242, 241, 241);
    font-size: 4em;
    text-align: center;
    margin: 2rem;
}

.nav-img-container{
    display: inline;
}
.bg-body-tertiary{
    background-color: rgb(255, 255, 255)
}
.navbar-brand{
    font-family: "Playwrite GB S", cursive;
    font-size: 2.5rem;
}
ul li{
    list-style: none;
    margin: 10px;
}
ul li:hover{
    text-decoration: underline;
}

/* --- Finaliza el header --- */

/*Sección de saquitos */
.saquitos-container{
    margin: 10px;
    text-align: center;
}
.saquitos-container img{
    width: 100%;
    transition: 0.5s;
}
.saquitos-container img:hover{
    transform: scale(1.1);
}
.cards{
    width: 20%;
}
.col img{
    vertical-align: baseline;
}
.list-group-item{
    text-align: start;
    margin: 0;
}
.img-saquito img{
    width: 90%;
    margin: 10%;
}
.btn-agregar{
    width: auto;
    border-radius: 20px;
    background-color: #FFD0D0;
    border: none;
    color: white; /* Color del texto "ENVIAR" */
    font-weight: bold;
    letter-spacing: 1.4px;
    font-size: 1em;
}
.btn-agregar:hover{
    background-color: #D76C82; 
    color: #ffffff;
}
/* --- MEDIA QUERIES --- */
@media screen and (max-width: 768px) {
    .h1-div h1{
        font-size: 3em;
    }
    .h2-div{
        font-size: 2em;
    }
}

/* --- Comienza footer --- */
.footer-container{
    background-color: #faf5f1;
    margin-top: 3rem;
}
.navbar-footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navbar2-container{
    padding-left: 1rem;
}
#sobrenosotras{
    font-size: 2rem;
    color: rgb(38, 38, 38);
}
.descripcion-container{
    display: flex;
    justify-content: start;
    width: 400px;
}
#descripcion{
    font-size: 1rem;
    color: rgb(38, 38, 38);
}
.container-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#copyright{
    font-size: 0.8rem;
}
ul li{
    list-style: none;
}
.navbar2-container ul{
    padding: 0;
}
.redes-sociales-container{
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-start;
    margin: 20px;
}
.redes-sociales{
    color: rgb(156, 156, 156);
    width: 30px;
    height: 30px;
}
/* --- Finaliza footer --- */
