.playwrite-gb-s{
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* --- Comienza el header --- */
header{
    display: flex;
    justify-content: space-between;
}

.bg-body-tertiary{
    background-color: rgb(255, 255, 255)
}
.navbar-brand{
    font-family: "Playwrite GB S", cursive;
}
ul li{
    text-decoration: none;
}
ul li:hover{
    text-decoration: underline;
}
/* --- Finaliza el header --- */


/* --- Comienza el section1 --- */
.places{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}
.section1-reservas h1{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.img-container1, 
.img-container2, 
.img-container3{
    max-width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container1 img, 
.img-container2 img, 
.img-container3 img{
    width: 90%;
    height: 100%;
    border-radius: 10%;
    transition: 0.5s;
}
.img-container1:hover img, 
.img-container2:hover img, 
.img-container3:hover img{
    filter: brightness(50%);
}
.img-container1 p, 
.img-container2 p, 
.img-container3 p{
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
    color: white;
    font-size: 2rem;
    font-family: "Work Sans", sans-serif;
    opacity: 0;
    transition: opacity 0.3s;
}
.img-container1:hover p, 
.img-container2:hover p, 
.img-container3:hover p{
    opacity: 1;
}
/* --- Finaliza el section1 --- */

/*--- Comienza el section2 --- */
.section2-reservas h2{
    text-align: center;
    font-family: "work sans", cursive;
    font-size: 1.5em;
    margin: 2em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.section2-reservas{
    margin-top: 2rem;
}
span{
    display: flex;
    justify-content: center;
}
#confirmacion{
    font-family: "work sans", cursive;
    font-size: 1em;
    padding: 10px;
    background-color: transparent;
    border: none;
    transition: 0.5s;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
#confirmacion:hover{
    color: #abc0e2;
}
#confirmacion:active{
    background-color: #abc0e2;
    border-radius: 5px;
    color: white;
}
label{
    font-family: "work sans", cursive;
    font-size: 1em;
}

.calendario{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
}
.dias, 
.dias-semana{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    margin: 0;
}
#primero{
    grid-column-start: 5;
}
.dias-semana{
    background-color: #abc0e2;
}
.dias li:hover{
    background-color: #b8d9d3;
}
.form-container{
    margin-top: 2rem;
}
#nombre,
#email,
#telefono,
#personas,
#fecha,
#hora{
    border-color: #abc0e2;
    border-width: 2px;
}
/* --- Finaliza el section2 --- */

/* --- Comienza footer --- */
.footer-container{
    background-color: #faf5f1;
    margin-top: 3rem;
}
.navbar-footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navbar2-container{
    padding-left: 1rem;
}
#sobrenosotras{
    font-size: 2rem;
    color: rgb(38, 38, 38);
}
.descripcion-container{
    display: flex;
    justify-content: start;
    width: 400px;
}
#descripcion{
    font-size: 1rem;
    color: rgb(38, 38, 38);
}
.container-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#copyright{
    font-size: 0.8rem;
}
ul li{
    list-style: none;
}
.navbar2-container ul{
    padding: 0;
}
.redes-sociales-container{
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-start;
}
.redes-sociales{
    color: rgb(156, 156, 156);
    width: 30px;
    height: 30px;
}
/* --- Finaliza footer --- */

/*--- MEDIAQUERIES --- */
@media screen and (min-width: 768px) {
    .section2-reservas h2{
        font-size: 2rem;
    }
    #confirmacion{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 626px) {
    .dias-semana{
        font-size: 0.8rem;
    }
    .img-container1 p, 
    .img-container2 p, 
    .img-container3 p{
        font-size: 1.5rem;
    }
}
